.styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: 1000px;
    box-shadow: 0 0 20px black;
}

.styled-table thead tr {
     background-color: #327f87;
     color: aliceblue;
     text-align:  left;
}

.styled-table thead th 
.styled-table tbody td{
    padding: 10px;
}

.styled-table tbody tr {
    border-bottom: solid 1px #DDEEEE;
   
}

.styled-table tbody tr:nth-of-type(even){
    background-color: #DDEEEE;
}

.styled-table tbody tr:last-of-type{
    border-bottom: 2px solid goldenrod;
}

.btn {
    border: none;
    color: wheat;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-edit{
    background-color: rgb(53, 78, 15);
}

.btn-delete{
    background-color: red;
}
.btn-view{
    background-color: rgb(126, 126, 16);
}